body{
    font-family: 'Aladin', cursive;
    width: 100%;

}

h1 {
    color:red;
}
.logo{
     height: 100px;
     width: 100px;
}
.ti{
    width: 100%;
background-color:#f5f5f5;
margin: 0px;
padding: 0px;

}
header{
    width: 100%;
    margin: 0px;
padding: 0px;
box-shadow: 0 0 0.5em 0.1em rgba(0,0,0,.09);

}

.formularioGrafico{
    margin-right: 0px auto;
    margin-left:  0px auto;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
.formgrafico{
    width: 100%;
    text-align: -webkit-center;

}

#ingreso{
margin: 0px auto;
text-align: -webkit-center;
}
.mes{
    width: 30px;
}
.ingresoinput{
    text-align: center;
}
footer{
    box-shadow: 0em -0.2em 0.3em 0  rgba(0,0,0,.09);
}
.nombre{
    padding: 15px;
    letter-spacing: 1px;
    background-color:#f5f5f5;
    color:red;


}